.content {
  position: absolute;
  position-anchor: var(--popover-anchor);

  max-width: min(1200px, calc(100vw - 2rem));
  z-index: 100;

  white-space: normal;

  box-sizing: border-box;

  inset: auto;
}

.content[data-position="top"] {
  bottom: anchor(top);
  justify-self: anchor-center;
  position-try-fallbacks: --top-end, --top-start, flip-block;
}

.content[data-position="bottom"] {
  top: anchor(bottom);
  justify-self: anchor-center;
  position-try-fallbacks: --bottom-start, --bottom-end, flip-block;
}

.content[data-position="left"] {
  right: anchor(left);
  align-self: anchor-center;
  position-try-fallbacks:
    flip-inline, --bottom-center, --top-center, --bottom-end, --top-end;
}

.content[data-position="right"] {
  left: anchor(right);
  align-self: anchor-center;
  position-try-fallbacks:
    flip-inline, --bottom-center, --top-center, --bottom-start, --top-start;
}

@position-try --top-start {
  bottom: anchor(top);
  left: anchor(left);
  transform: unset;
  justify-self: anchor-center;
  margin-inline: 0;
}

@position-try --top-end {
  bottom: anchor(top);
  right: anchor(right);
  left: auto;
  transform: unset;
  justify-self: anchor-center;
  margin-inline: 0;
}

@position-try --bottom-start {
  top: anchor(bottom);
  left: anchor(left);
  transform: unset;
  justify-self: anchor-center;
  margin-inline: 0;
}

@position-try --bottom-end {
  top: anchor(bottom);
  right: anchor(right);
  left: auto;
  transform: unset;
  justify-self: anchor-center;
  margin-inline: 0;
}

@position-try --bottom-center {
  top: anchor(bottom);
  bottom: auto;
  left: auto;
  right: auto;

  margin-top: var(--side-offset);
  margin-left: 0;
  margin-right: 0;

  justify-self: anchor-center;
}

@position-try --top-center {
  top: auto;
  bottom: anchor(top);
  left: auto;
  right: auto;

  margin-bottom: var(--side-offset);
  margin-left: 0;
  margin-right: 0;

  justify-self: anchor-center;
}
