.table.table-stripped tr:not(:hover):nth-child(even) {
  background-color: var(--even-stripe);
}

.table.table-stripped tr:not(:hover):nth-child(odd) {
  background-color: var(--odd-stripe);
}

.table-head::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  right: 0px;
  width: 2px;
  background-color: hsl(var(--on-primary));
}

.table-head:last-child::after {
  display: none;
}

.table-row {
  position: relative;
  transition: all 0.15s;
}

.table-cell {
  position: relative;
  border-bottom: 1px solid hsl(var(--border-strong));
}

.table-row:last-child .table-cell {
  border: transparent;
}

.table-cell::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.25rem;
  bottom: 0.25rem;
  right: 0px;
  width: 2px;
  background-color: hsl(var(--border-main));
}

.table-cell:last-child::after {
  display: none;
}
